services:
    sessqlserver:
        image: mcr.microsoft.com/mssql/server:2022-latest
        container_name: spoof-entrance-service-db
        environment:
            - ACCEPT_EULA=Y
            - MSSQL_SA_PASSWORD=Str0ngP@ssw0rd4267!
            - MSSQL_PID=Developer
        ports:
            - "1433:1433"
        volumes:
            - ses_sql_data:/var/opt/mssql
            - ./SpoofEntranceService/SpoofEntranceService.sql:/docker-entrypoint-initdb.d/SpoofEntranceService/SpoofEntranceService.sql
        restart: unless-stopped
        networks:
            - spoof-network
    redis:
        image: redis:8.4.0
        container_name: redis-test
        ports:
            - "6379:6379"
        volumes:
            - redis_data:/data
        command: 
            - redis-server
            - --save 20 1
            - --loglevel warning
            - --appendonly yes
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "redis-cli", "--raw", "incr", "ping"]
            interval: 10s
            timeout: 5s
            retries: 3
        networks:
            - spoof-network
    spoofentranceservice:
        build:
            context: .
            dockerfile: SpoofEntranceService/Dockerfile
        container_name: spoof-entrance-service
        depends_on:
            - redis
            - sessqlserver
        environment:
            - ASPNETCORE_ENVIRONMENT=Development
            - REDIS_CONNECTION=redis:6379,abortConnect=false,connectTimeout=10000
            - ConnectionStrings__DefaultConnection=Server=localhost,1433;Database=SpoofEntranceService;User Id=SA;Password=Str0ngP@ssw0rd4267!;TrustServerCertificate=true;
        ports:
            - "5000:8080"
        volumes:
            - ./src:/app/src
        networks:
            - spoof-network

volumes:
    redis_data:
        driver: local
    ses_sql_data:
        driver: local

networks:
    spoof-network:
        driver: bridge